<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PatcherPlus.Loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <PatcherPlus.Loader.Properties.Settings>
            <setting name="LastServerPull" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="AutoPatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KnownTrickery" serializeAs="String">
                <value>0</value>
            </setting>
        </PatcherPlus.Loader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Iced" publicKeyToken="5baba79f4264913b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.21.0.0" newVersion="1.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
